<div class="form-container">

<h1>New user</h1>

<%= render "form", user: @user %>

<br>

</div>

<div class="m-3 text-center">
  <i class="fa-solid fa-rotate-left" style="color: #f0857a;"></i>
  <%= link_to "Back to users", users_path %>
</div>
