<nav class="navbar navbar-light p-3">
  <%= link_to root_path do %>
    <img id="navbar-icon" src="https://vinklo.com.br/assets/vinklo/logos/vinklo-positivo-956d6d4c37f67b71b34739ff396cae348d6c416f.svg">
  <% end %>  <ul class="nav navbar-right">
    <li><%= link_to "New User", new_user_path, class: "btn btn-secondary" %></li>
  </ul>
</nav>
