<nav class="navbar navbar-light p-3">
  <img class="navbar-icon" src="https://vinklo.com.br/assets/vinklo/logos/vinklo-positivo-956d6d4c37f67b71b34739ff396cae348d6c416f.svg">
  <ul class="nav navbar-right">
    <li><%= link_to "Login", new_user_path, class: "btn btn-secondary" %></li>
  </ul>
</nav>
