.card-user-grid {
  margin: 24px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.card-user {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
}

.user-card-title {
  color: var(--purple);
}

.card-user-content {
  flex-grow: 1;
}

.button-wrapper {
  margin-top: auto;
}
