.navbar {
  background-color: var(--purple);
  width: 100%;
  box-shadow: 10px 0 24px 2px #c2c4cc;
  color: white;
  display: flex;
  justify-content: space-between;
}

#navbar-icon {
  width: 70%;
}
