.navbar {
  background-color: rgba(70, 15, 95, 1);
  width: 100%;
  box-shadow: 10px 0 24px 2px #c2c4cc;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar .nav .btn-secondary {
  background-color: rgba(235, 86, 71, 1);
  border-radius: 16px;
  color: white;
  font-weight: bold;
  padding: 7px 22px 5px 22px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  border: 2px solid rgba(235, 86, 71, 1);
  cursor: pointer;

  &:hover {
    border-color: #f0857a;
  }

}
