@import "components/index";
@import "bootstrap";
@import "font-awesome";

h1, h6 {
  color: var(--purple);
}

h4 {
  color: var(--pink);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--light-purple);
  }

}
